@{
    Layout = null;
}


<div id="toast-container" class="fixed bottom-0 inset-x-0 flex items-center justify-center z-50 mb-6">

</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
}