<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Libra</title>
    <link rel="preconnect" ref="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons-1.10.5/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body >
@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    var currentRoute = $"{currentController}/{currentAction}";

    bool isAuth = User.Identity.IsAuthenticated;

    <div class="flex flex-col h-screen">
        <nav class="sticky top-0 z-50 bg-white border-gray-200 dark:bg-gray-900">
            <!-- Navigation content here -->
            @await Html.PartialAsync("~/Views/Shared/Components/_navbar.cshtml")
        </nav>

        <div class="flex flex-grow">
            @if (isAuth)
            {
                <aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar">
                    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
                        <!-- Sidebar content for authenticated user -->
                    @await Html.PartialAsync("~/Views/Shared/Components/_sidebar.cshtml")
                    </div>
                </aside>
            }
                <div id="main-content" class="relative w-full h-full bg-gray-50 dark:bg-gray-900 @(isAuth ? "p-4 sm:ml-64" : "")">
                <main role="main" class="animate-fadeInDown">
                    <!-- Main content here -->
                    @RenderBody()
                    @await Html.PartialAsync("~/Views/Toast/_PartialToast.cshtml")
                </main>
            </div>
        </div>

        <footer class="footer relative bg-gray-50 @(isAuth ? "sm:ml-64" : "") dark:bg-gray-900 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-4 dark:bg-gray-800 dark:border-gray-600">
            <!-- Footer content here -->
            @await Html.PartialAsync("~/Views/Shared/Components/_footer.cshtml")
        </footer>
    </div>
}

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@*
<link rel="stylesheet" href="~/lib/jquery-datatable/DataTables-1.13.6/css/jquery.dataTables.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/jquery-datatable/Responsive-2.5.0//css/responsive.dataTables.min.css" asp-append-version="true" />   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
<script src="~/lib/jquery-datatable/DataTables-1.13.6/js/jquery.dataTables.min.js"></script>
<script src="~/lib/jquery-datatable/Responsive-2.5.0/js/dataTables.responsive.min.js"></script>
*@