@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Libra</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css" rel="stylesheet" />
</head>
<body >
    <div class="flex flex-col h-screen">
        <nav class="sticky top-0 z-50 bg-white border-gray-200 dark:bg-gray-900">
            <!-- Navigation content here -->
            @await Html.PartialAsync("~/Views/Shared/Components/_navbar.cshtml")
        </nav>

        <div class="flex flex-grow">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="fixed flex flex-col top-0 left-0 w-64 bg-white h-full border-r">
                    <!-- Sidebar content for authenticated user -->
                    @await Html.PartialAsync("~/Views/Shared/Components/_sidebar.cshtml")
                </div>
            }
            <div id="main-content" class="relative w-full h-full overflow-y-auto bg-gray-50 dark:bg-gray-900 @(User.Identity.IsAuthenticated ? "lg:ml-64" : "")">
                <main role="main" class="animate-fadeInDown">
                    <!-- Main content here -->
                    @RenderBody()
                    @if (currentController == "Libro")
                        @await Html.PartialAsync("~/Views/Shared/Components/_main.cshtml")
                </main>
            </div>
        </div>

        <footer class="relative bg-gray-50 @(User.Identity.IsAuthenticated ? "lg:ml-64" : "") dark:bg-gray-900 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-4 dark:bg-gray-800 dark:border-gray-600">
            <!-- Footer content here -->
            @await Html.PartialAsync("~/Views/Shared/Components/_footer.cshtml")
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
