<div class="flex flex-wrap items-center justify-center w-full transition-all duration-200">
    <div class="mt-[5%] relative border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px] mb-5">
        <div class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -left-[17px] top-[72px] rounded-l-lg"></div>
        <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -left-[17px] top-[124px] rounded-l-lg"></div>
        <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -left-[17px] top-[178px] rounded-l-lg"></div>
        <div class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -right-[17px] top-[142px] rounded-r-lg"></div>
        <div class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800">
            <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mockup-1-light.png" class="dark:hidden w-[272px] h-[572px]" alt="">
            <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mockup-1-dark.png" class="hidden dark:block w-[272px] h-[572px]" alt="">
        </div>
    </div>
    <div class="flex flex-col items-center justify-center ml-10 w-[40%]">
        <h1 class="text-max text-black-600/75 text-6xl mr-3 mt-5">Welcome to Libra</h1>
        <h5 class="ml-1 text-min text-blue-600/50 mt-4 text-xl hyphens-manual w-2/3">
            the complete solution for managing employees bank details and managing their problems
        </h5>
        <div class="flex flex-wrap justify-center mt-10">
            <a href="@Url.Action("Login", "Auth")" class="relative inline-flex items-center justify-center h-14 w-60 p-0.5 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-blue-700 to-blue-700 group-hover:from-blue-700 group-hover:to-blue-700 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-700 dark:focus:ring-cyan-800">
                <span class="relative w-full h-full text-center px-5 py-[1rem] transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                    Sign In
                </span>
            </a>
            <button type="button" id="createAccountButton" class="text-white bg-blue-700 h-14 w-60 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg mr-0 text-sm text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <span class="px-5 py-[1rem]">
                    Create an Account
                </span>
            </button>
        </div>
    </div>
</div>