﻿<div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-50 text-gray-800 !mt-[5rem]">
    <div class="fixed mt-[5rem] flex flex-col top-0 left-0 w-64 bg-white h-full border-r">
        <div class="overflow-y-auto overflow-x-hidden flex-grow">
            <ul class="flex flex-col py-4 space-y-1">
                <li>
                    <a asp-controller="Analytics" asp-action="Dashboard" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                        <span class="inline-flex justify-center items-center ml-4 text-blue-600">
                            <i class="bi bi-clipboard-data-fill"></i>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Dashboard</span>
                        <span class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-indigo-500 bg-indigo-50 rounded-full">New</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Pos" asp-action="Index" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                        <span class="inline-flex justify-center items-center ml-4 text-blue-600">
                            <i class="bi bi-credit-card"></i>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">POS</span>
                        <span class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-indigo-500 bg-indigo-50 rounded-full">New</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Issue" asp-action="Index" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                        <span class="inline-flex justify-center items-center ml-4 text-blue-600">
                            <i class="bi bi-exclamation-diamond-fill"></i>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Issues</span>
                        <span class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-indigo-500 bg-indigo-50 rounded-full">New</span>
                    </a>
                </li>
                @*@if (@User.IsInRole("Administrator"))
                {
                    <li>
                        <a asp-controller="Identity" asp-action="Users" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                            <span class="inline-flex justify-center items-center ml-4 text-blue-600">
                                <i class="bi bi-people-fill"></i>
                            </span>
                            <span class="ml-2 text-sm tracking-wide truncate">Users</span>
                            <span class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-red-500 bg-red-50 rounded-full">Administration</span>
                        </a>
                    </li>
                }*@
            </ul>
        </div>
    </div>
</div>