@model Libro.Business.Libra.DTOs.POSDTOs.DetailsPOSDTO

<div class="w-full max-w-screen-2xl bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6 bg-white border border-gray-200 rounded-lg shadow dark:border-gray-700 dark:bg-gray-800">
    <h4 class="text-xl text-gray-900 font-bold">
        <i class="bi bi-cash-coin mr-3"></i>
        POS informations
    </h4>
    <ul class="mt-2 text-gray-700">
        <li class="flex border-y py-2">
            <span class="font-bold w-48">Name:</span>
            <h5 id="name" class="text-gray-700"></h5>
        </li>
        <li class="flex border-b py-2">
            <span class="font-bold w-48">Telephone:</span>
            <h5 id="telephone" class="text-gray-700"></h5>
        </li>
        <li class="flex border-b py-2">
            <span class="font-bold w-48">Address:</span>
            <h5 id="address" class="text-gray-700"></h5>
        </li>
        <li class="flex border-b py-2">
            <span class="font-bold w-48">City:</span>
            <h5 id="city" class="text-gray-700"></h5>
        </li>
        <li class="flex border-b py-2">
            <span class="font-bold w-48">Model:</span>
            <h5 id="model" class="text-gray-700"></h5>
        </li>
        <li class="flex border-b py-2">
            <span class="font-bold w-48">Brand:</span>
            <h5 id="brand" class="text-gray-700"></h5>
        </li>
        <li class="flex border-b py-2">
            <span class="font-bold w-48">Connection type:</span>
            <h5 id="connectionType" class="text-gray-700"></h5>
        </li>
        <li class="flex border-b py-2">
            <span class="font-bold w-48">Insertion date:</span>
            <h5 id="insertionDate" class="text-gray-700"></h5>
        </li>
    </ul>
</div>

@section Scripts{
    <script>
        getPosDetails();
    </script>
}