@model dynamic;
@{
    ViewBag.Title = "Issue details";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/jquery-datatable/DataTables-1.13.6/css/jquery.dataTables.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/jquery-datatable/Responsive-2.5.0/css/responsive.dataTables.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />

<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <nav class="flex mb-3 ml-1" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a href="/dashboard" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                    <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                    </svg>
                    Dashboard
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                    </svg>
                    <a href="/issue" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Issues</a>
                </div>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                    </svg>
                    <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Details</span>
                </div>
            </li>
        </ol>
    </nav>
    <div class="w-full max-w-screen-2xl bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6 bg-white border border-gray-200 rounded-lg shadow dark:border-gray-700 dark:bg-gray-800">
        <h4 class="text-xl text-gray-900 font-bold">
            <i class="bi bi-cash-coin mr-3"></i>
            POS details
        </h4>
        <ul class="mt-2 text-gray-700">
            <li class="flex border-y py-2">
                <span class="font-bold w-48">Name:</span>
                <h5 id="name" class="text-gray-700"></h5>
            </li>
            <li class="flex border-b py-2">
                <span class="font-bold w-48">Telephone:</span>
                <h5 id="telephone" class="text-gray-700"></h5>
            </li>
            <li class="flex border-b py-2">
                <span class="font-bold w-48">Address:</span>
                <h5 id="address" class="text-gray-700"></h5>
            </li>
            <li class="flex border-b py-2">
                <span class="font-bold w-48">City:</span>
                <h5 id="city" class="text-gray-700"></h5>
            </li>
            <li class="flex border-b py-2">
                <span class="font-bold w-48">Model:</span>
                <h5 id="model" class="text-gray-700"></h5>
            </li>
            <li class="flex border-b py-2">
                <span class="font-bold w-48">Brand:</span>
                <h5 id="brand" class="text-gray-700"></h5>
            </li>
            <li class="flex border-b py-2">
                <span class="font-bold w-48">Connection type:</span>
                <h5 id="connectionType" class="text-gray-700"></h5>
            </li>
            <li class="flex border-b py-2">
                <span class="font-bold w-48">Insertion date:</span>
                <h5 id="insertionDate" class="text-gray-700"></h5>
            </li>
        </ul>
    </div>

    <div class="w-full max-w-screen-2xl mt-3 bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6 bg-white border border-gray-200 rounded-lg shadow dark:border-gray-700 dark:bg-gray-800">
        <h4 class="text-xl text-gray-900 font-bold">
            <i class="bi bi-cash-coin mr-3"></i>
            Issue details
        </h4>
        <ul class="mt-2 text-gray-700">
            <li class="flex border-y py-2">
                <span class="font-bold w-48">Issue type:</span>
                <h5 id="issueType" class="text-gray-700"></h5>
            </li>
            <li class="flex border-b py-2">
                <span class="font-bold w-48">Priority:</span>
                <h5 id="priority" class="text-gray-700"></h5>
            </li>
            <li class="flex border-b py-2">
                <span class="font-bold w-48">Status:</span>
                <h5 id="status" class="text-gray-700"></h5>
            </li>
            <li class="flex border-b py-2">
                <span class="font-bold w-48">Problem description:</span>
                <h5 id="problemDescription" class="text-gray-700"></h5>
            </li>
            <li class="flex border-b py-2">
                <span class="font-bold w-48">Solution:</span>
                <h5 id="solution" class="text-gray-700"></h5>
            </li>
            <li class="flex border-b py-2">
                <span class="font-bold w-48">Assigned to:</span>
                <h5 id="assignedTo" class="text-gray-700"></h5>
            </li>
            <li class="flex border-b py-2">
                <span class="font-bold w-48">Memo:</span>
                <h5 id="memo" class="text-gray-700"></h5>
            </li>
        </ul>
    </div>

    <h6 class="inline-flex items-center text-gray-700 dark:text-gray-400 mt-6">
        <i class="bi bi-exclamation-diamond-fill mr-2"></i>
        Recent logs of the issue
    </h6>

    @*jQuery DATA TABLE Issues of the POS*@

    <div class="w-full max-w-screen-2xl mt-2 bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6 bg-white border border-gray-200 rounded-lg shadow dark:border-gray-700 dark:bg-gray-800">
        <table id="logsTable" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
        </table>
    </div>
</div>

@section Scripts{
    <script>
        getIssueDetails();
    </script>
}